{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags %}

{% block body_class %}template-eventpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">Date: {{ page.date }}</p>

    <div class="place">
        <h2>Place</h2>
        {{ page.place }}
    </div>

    <div class="attended">
        <h2>No. attended </h2>
        {{ page.attended }}
    </div>

    <div class="agenda">
        <h2>Agenda</h2>
        {{ page.agenda|richtext }}
    </div>

    <h2>Notes</h2> {{ page.notes|richtext }}
    <h2>Resources</h2> {{ page.resources|richtext }}

    <p><a href="{{ page.get_parent.url }}">Return to events list</a></p>

{% endblock %}
