{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-eventindexpage{% endblock %}

{% block content %}
  
<h1>{{ page.title }}</h1>
  <div class="intro">{{ page.intro|richtext }}</div>

  {% for event in events  %}

    {% with event=event.specific %}

      <div class="card mt-3">
        <div class="card-body">
          {% if today < event.date%}
            <span class="badge badge-pill badge-success mb-3 p-2">Upcoming</span>
          {% else %}
            <span class="badge badge-pill badge-warning mb-3 p-2">Past Event</span>
          {%endif%}
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text"><strong>Date: </strong>{{ event.date }}</p>
          <p class="card-text"><strong>Location: </strong>{{event.place}}</p>
          <a href="{% pageurl event %}" class="btn btn-info btn-lg btn-block">More info</a>
        </div>
      </div>

    {%endwith%}

  {% endfor %}

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if events.has_previous %}
        <li class="page-item"><a href="?page={{ events.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
      {% endif %}

      {% for page_num in events.paginator.page_range %}
        <li  class="page-item {% if page_num == events.number %}active{% endif %}""><a href="?page={{ page_num }}">{{ page_num }}</a></li>
      {% endfor %}

      {% if events.has_next %}
        <li class="page-item"><a href="?page={{ events.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}