{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags %}

{% block body_class %}template-eventindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for event in events %}
        <h2><a href="{% pageurl event %}">{{ event.title }}</a></h2>
        <p>At: {{ event.place }} on {{ event.date }}</p>

        {% if event.agenda %}
            <p>Agenda:</p> {{ event.agenda|richtext }}
        {% else %} 
            <p>Agenda:</p> Agenda to be confirmed.  
            <p></p>
        {% endif %}
    {% endfor %}

    <ul class="pagination">
        {% if events.has_previous %}
          <li><a href="?page={{ events.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
        {% endif %}

        {% for page_num in events.paginator.page_range %}
          <li {% if page_num == events.number %}class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endfor %}

        {% if events.has_next %}
          <li><a href="?page={{ events.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
        {% endif %}
    </ul>

{% endblock %}
