{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block content %}
<div class="jumbotron pb-4">
  <h1 class="display-4">Welcome to CIPUG</h1>
  <p class="lead">Currently an unratified group but the aim is to cover Python development across the Channel Islands.</p>
  <hr class="my-4">
  <p>We aim to meet once a month in an informal setting. The aim of the meet-ups is to meet like minded people using Python in any form.</p>
  <a class="btn btn-primary btn-lg mt-3" href="#" role="button">Upcoming Events</a>
</div>
{% endblock %}
