.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
*~
/logs
/data
.~*
common/CACHE
literaterobot/media/images/*
literaterobot/settings/local.py
literaterobot
__pycache__
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
