[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
Django = "<2.3,>=2.2"
wagtail = "~=2.6"
django-extensions = "*"

[requires]
python_version = "3.7"
