[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
rope = "*"

[packages]
wagtail = "*"
Django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-toolbelt = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
