html,body{
    width:100%
}


nav{
    border-bottom: 4px solid rgb(150, 150, 150);
    
}

.footer{
    background-color: #343a40;
    border-top: 4px solid rgb(150,150, 150);
    color: whitesmoke;
}

.dark > li{
    background-color: #343a40;
    border: 1px solid rgb(150,150, 150);
    color: whitesmoke;
    width:25rem;
}
.dark >li> a{
    color: whitesmoke;
}
.dark >li> a:hover{
    color: rgba(255,255,255,.5);
}
.sitemap{
    display:inline;
}

.footer-sitemap li{
    display:inline-block;
}

.footer-sitemap a{
    color:rgb(164, 164, 164);
}


@media only screen and (max-width:900px){
    .search-bar{
        
        padding-top:20px;
        border-top: 1px solid rgb(150, 150, 150);
    }

    .dark > li{

    width:100%;
}

}